<div class="parallax"
	data-background="{{base_url()}}/images/main_banner.png"
	data-color="#36383e"
	data-color-opacity="0.6"
	data-img-width="800"
	data-img-height="305">
	<!-- Infobox -->
	<div class="text-content white-font">
		<div class="container text-center">

			<div class="row">
				<div class="col-lg-12 col-sm-12">
					<h2>Welcome To Bazichik - Chinese Metaphysics Consultancy</h2>
					<p>Access Unlimited E-Books, Audio Books and Magazines. Read, Review, Share and Earn Reward Points.</p>
					<a href="{{base_url()}}/membership.html" class="button margin-top-25">READ FREE FOR 30 DAYS</a>
				</div>
			</div>

		</div>
	</div>
	<!-- Infobox / End -->
</div>
<!-- Parallax / End -->