<section class="fullwidth padding-top-75 padding-bottom-70" data-background-color="#f9f9f9">
	<!-- Info Section -->
	<div class="container">

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h3 class="headline centered">
					What People Say
					<span class="margin-top-25">Some of our clients have shared their experience!</span>
				</h3>
			</div>
		</div>

	</div>
	<!-- Info Section / End -->

	<!-- Categories Carousel -->
	<div class="fullwidth-carousel-container">
		<div class="testimonial-carousel testimonials">
       
			
			
			
			<div class="fw-carousel-review">
							<div class="testimonial-box">
								<div class="testimonial">Great class I like the setup and Prince is a consummate professional through and through while still being chill and relatable. Great great guy.</div>
							</div>
							<div class="testimonial-author">
								<img src="{{base_url()}}/images/clients/2.jpg" alt="Mass Pistol License Academy Reviews">
								<h4>James King</h4>
								<h5>Police Officer Westfield</h5>
							</div>
			</div>
			
			<div class="fw-carousel-review">
										<div class="testimonial-box">
											<div class="testimonial">Thank you Prince!</div>
										</div>
										<div class="testimonial-author">
											<img src="{{base_url()}}/images/clients/3.jpg" alt="Mass Pistol License Academy Reviews">
											<h4>Ashley Walker</h4>
											<h5>Artist</h5>
										</div>
			</div>
			
			  <div class="fw-carousel-review">
				 				<div class="testimonial-box">
				 					<div class="testimonial">Class was relaxed and informative I had a great time! Once I get my license I will be back to make a purchase.</div>
				 				</div>
				 				<div class="testimonial-author">
				 					<img src="{{base_url()}}/images/clients/1.jpg" alt="Mass Pistol License Academy Reviews">
				 					<h4>Helen Owen</h4>
				 					<h5>Director Goldman Sachs</h5>
				 				</div>
			</div>
			
		</div>
	</div>
	<!-- Categories Carousel / End -->

</section>