{% extends 'layout.twig' %}
{% block slider %} 
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>About BaziChic</h2>
				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="{{base_url()}}">Home</a></li>
						<li><a href="{{base_url()}}/about.html">About Us</a></li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block content %}
	<div class="container">
		<div class="row">
		    	<div class="style-1" style="padding:15px;">
		<p>
		BaziChic aims to inspire life and greatness in people so they truly live a life they love with happiness, sense of fulfillment and well-being. Anyone has the ability to achieve greatness by harnessing the power from the Universe, Heaven Luck, Earth Luck and Man Luck. For this reason, BaziChic provides an all-rounded services such as education, mentoring, coaching and consultation - to empower individuals to take necessary action to achieve triumph in life.
		</p>

	<p>
			In the cosmic trinity, Heaven Luck is not only predestined by individual birth but factor in timing. People always say do right thing at the right time. Earth Luck refers to our environment and how it can influence us. Feng Shui, which is part of Earth Luck, is about harnessing the Qi from the environment to prosper an individual. Since Earth Luck relates to your environment, it includes the people in your life too so the saying follows, "at the right time with the right people and right place." Man Luck represents individual’s effort – your actions and choices that create the difference in your life. The Power of the Universe comes into play with clarity and clear mindset to attract and create your dream to achieve your ultimate greatness. Simply put it, while your Heaven Luck bestowed upon you with all the talents, it is solely your effort, determination and persistency towards your goal, be it success, wealth, good health and happiness – to make it happen. With your ultimate aim, the Universe will play along and enhance your Earth Luck. 
			</p>
			
			<p>
		BaziChic under the stewardship of Josephine will share with you her resources, knowledge, wisdom and inspires you to ultimately live the life you love.
		</p>
		
	</div>

</div>

<hr>

<div class="container">
		<div class="row">
		<div class="margin-top-20 margin-bottom-20">
		<a target="_blank" href="https://www.facebook.com/BaziChicConsultancy/" class="button medium"><i class="fa fa-facebook"></i> Visit facebook page</a>

		</div>
		
	</div></div>
</div>

{% endblock %}