{% extends 'admin_layout.twig' %}
{% block jstriggers %}
<script type="text/javascript">
 $(document).ready(function() {
   
    $('#autogenerate_pass').change(function() {
	//var autogenerate_pass = $(this).val();
	if ($('input#autogenerate_pass').is(':checked')) {
	     document.getElementById("password_section").style.display = 'none';
	}else{
	     document.getElementById("password_section").style.display = 'block';
	}
    });
    
});
</script>
{% endblock %}


{% block content %}
	<!-- Overlay Section -->
	  <div id="create_doc_overlay" style="display:none;">
		<div id="add-listing">
				    <div class="add-listing-section">
						<div style="padding:60px;text-align: center;">
					<img src="{{base_url()}}/images/preloader.gif" width="70"/>
					<h3 style="color:#121212;margin-top:30px;"><strong>Creating Account</strong></h3>
					<h4 style="color:#232323;">Please wait...</h4>
					</div>	
					</div>	
					</div></div>
					<!-- Section / End -->
				
				

{% include 'forms/register_form.twig' %}					
{% endblock content %}