{% extends 'admin_layout.twig' %}
{% block content %}
<div class="">
<div class="row">
{% if page.data %}
            {% for row in page.data %}
				<!-- Listing Item -->
				<div class="col-lg-3 col-md-3">
				    {% include 'list_items/favourite.twig' %}
				</div>
				<!-- Listing Item / End -->
 {% endfor %} 
            {% else %}
			 <section style="padding: 30px 30px 30px 30px;text-align: center;background-color:#ffffff; class="center margin-top-30 margin-bottom-30">
				<h2 style="text-align: center;
    font-size: 40px;
    line-height: 50px;
    font-weight: 500;color:#666;"><i class="fa fa-heart fa-2x"></i></h2>
    <h3>No Favourite Yet!</h3>
			<h4>You have not bookmarked anything yet. Once you start exploring all your favourite marked documents will appear here. </h4>
<hr>
				<!-- Search -->
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<a href="{{base_url()}}/e-book-store" class="button"><i class="fa fa-arrow-right"></i> BROWSE DOCUMENTS</a>
					</div>
				</div>
				<!-- Search Section / End -->


			</section>
            {% endif %}
			</div></div>		
{% endblock content %}