
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
         <a class="navbar-brand" href="#">Navbar</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <form class="form-inline my-2 my-lg-0 navbar-form">
            <div class="input-group input-group-search mx-auto">
               <div class="input-group-prepend">
                  <button id="search-btn" class="btn btn-outline-light text-success dropdown-toggle" type="button" value="ALL" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ALL</button>
                  <div id="search-dropdown" class="dropdown-menu">
                     <a class="dropdown-item" href="#">BLOG</a>
                     <a class="dropdown-item" href="#">DOCS</a>
                     <a class="dropdown-item" href="#">FORUM</a>
                     <div role="separator" class="dropdown-divider"></div>
                     <a class="dropdown-item" href="#">ALL</a>
                  </div>
               </div>
               <input type="search" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="search-button-addon">
               <div class="input-group-append">
                  <button class="btn btn-success" type="submit" id="search-button-addon">&#128269;</button>
               </div>
            </div>
         </form>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
               <li class="nav-item active">
                  <a class="nav-link text-nowrap" href="#">Home Page<span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item">
                  <a class="nav-link text-nowrap" href="#">Link</a>
               </li>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-nowrap" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <a class="dropdown-item" href="#">Action</a>
                     <a class="dropdown-item" href="#">Another action</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="#">Something else here</a>
                  </div>
               </li>
               <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
               </li>
            </ul>
         </div>
      </nav>