{% if page.banner_link %}					
	<div class="main-search-container" data-background-image="{{base_url()}}/uploads/images/banners/{{page.banner_link}}"  style="height: 400px;background-color:#FF5722;">
	{% else %}
	<div class="main-search-container" data-background-image="{{base_url()}}/uploads/images/banners/main_banner.png"  style="height: 400px;background-color:#FF5722;">
    {% endif %}
	<div class="main-search-inner">

		<div class="container">
			<div class="row text-center">
				<div class="col-md-12">
				    <form name="createAcccountForm" action="{{base_url()}}/register" class="form-horizontal" method="GET" style="display:block;">
					<h2></h2>
				<h2></h2>
					<div class="text-center">
					
				
						<button class="button" type="submit" style="font-size: 20px;padding: 12px 30px;margin-top: 220px;"><i class="fa fa-arrow-right"></i> 10 DAYS FREE TRIAL</button>

					</div>
					</form>
				</div>
			</div>
		</div>

	</div>
</div>