<!-- Info Section -->
<div class="container">

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="headline centered margin-top-80">
				Read, Review & Share. Earn Loyalty Rewards.
				<span class="margin-top-25">There are so many amazing Chinese metaphysics resources available and we want to compile them all for our readers.</span>
			</h2>
		</div>
	</div>

	<div class="row icons-container">
		<!-- Stage -->
		
		<!-- Stage -->
		<div class="col-md-3">
			<div class="icon-box-2 with-line">
				<i class="im im-icon-Add-UserStar"></i>
				<h3>Register</h3>
				<p>Register for an account. Get access to all the latest updates from Bazichik.</p>
			</div>
		</div>
		
		<div class="col-md-3">
			<div class="icon-box-2 with-line">
				<i class="im im-icon-Books-2"></i>
				<h3>Accessibility</h3>
				<p>Choose your favourite e-books, magazines, audiobooks and read or listen them online from your computer, mobilephone or tablet.</p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-3">
			<div class="icon-box-2 with-line">
				<i class="im im-icon-Conference"></i>
				<h3>Review & Share</h3>
				<p>Share your reviews about us on social media. Every referral will be awarded with US$ 1.</p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-3">
			<div class="icon-box-2">
				<i class="im im-icon-Coin"></i>
				<h3>Loyalty Reward</h3>
				<p>Discount of upto 50% on every renewal.</p>
			</div>
		</div>
	</div>
	<div class="col-md-12 centered-content">
				<a href="{{base_url()}}/register" class="button border margin-top-10"> <i class="fa fa-arrow-right"></i>Get Started</a>
			</div>
</div>
<!-- Info Section / End -->

<!-- Flip banner -->
<a href="{{base_url()}}/e-book-store" class="flip-banner parallax margin-top-65" style="background-color:#34A853;" data-color="#34A853" data-color-opacity="0.85" data-img-width="2500" data-img-height="1666">
	<div class="flip-banner-content">
		<h2 class="flip-visible">Browse E-Books, Audiobooks & Magazines</h2>
		<h2 class="flip-hidden">GET STARTED <i class="sl sl-icon-arrow-right"></i></h2>
	</div>
</a>
<!-- Flip banner / End -->