<!-- Info Section -->
<div class="container">

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="headline centered margin-top-80">
				Read, Review & Share. Win Reward Points.
				<span class="margin-top-25">There are so many amazing e-book resources available on the Internet and we wanted to compile a few of our favorites and rare reads for all of our readers.</span>
			</h2>
		</div>
	</div>

	<div class="row icons-container">
		<!-- Stage -->
		
		<!-- Stage -->
		<div class="col-md-3">
			<div class="icon-box-2 with-line">
				<i class="im im-icon-Add-UserStar"></i>
				<h3>Register Account</h3>
				<p>Register a membership account and get access to all the upcoming reads on Bazichik.</p>
			</div>
		</div>
		
		<div class="col-md-3">
			<div class="icon-box-2 with-line">
				<i class="im im-icon-Books-2"></i>
				<h3>Access all Reads</h3>
				<p>Choose your favourite e-books, magazines, audio books and read or listen them online from your computer, mobile or tablet.</p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-3">
			<div class="icon-box-2 with-line">
				<i class="im im-icon-Conference"></i>
				<h3>Review & Share</h3>
				<p>Post your opinions and help others choose their reads. Share books you read on timeline.</p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-3">
			<div class="icon-box-2">
				<i class="im im-icon-Coin"></i>
				<h3>Earn Reward Points</h3>
				<p>Earn reward points that you can redeem whenever someone you refer joins our Bazichik Readers Group.</p>
			</div>
		</div>
	</div>
	<div class="col-md-12 centered-content">
				<a href="membership.html" class="button border margin-top-10">Get Started</a>
			</div>
</div>
<!-- Info Section / End -->

<!-- Flip banner -->
<a href="e-book-store.html" class="flip-banner parallax margin-top-65" data-background="images/banner3.png" data-color="#f91942" data-color-opacity="0.85" data-img-width="2500" data-img-height="1666">
	<div class="flip-banner-content">
		<h2 class="flip-visible">Discover E-Books, Audio Books & Magazines</h2>
		<h2 class="flip-hidden">GET STARTED <i class="sl sl-icon-arrow-right"></i></h2>
	</div>
</a>
<!-- Flip banner / End -->