<div class="container">


<div class="row">
		<div class="col-md-12">
			<h3 class="headline centered margin-top-75">
				Membership Plans
				 <span>10 Days Free Trial for all plans.</span>
			</h3>
		</div>
	</div>
	
	<!-- Row / Start -->
	<div class="row">

		<div class="col-md-12">
			<div class="pricing-container margin-top-30">

{% include 'partials/widgets/membership-table.twig' %}

			</div>
		</div>
	</div>
	<!-- Row / End -->

</div>