
<div class="container" style="background-color:#fff;"><div class="row">
<div class="col-md-12" style="margin-bottom:30px;">
			<h3 class="headline centered margin-top-75">
				What's Happening?
				<span>Join our active readers. Help the community and get helped.</span>
			</h3>
		</div>
		
		<!-- Activity Item -->
				<div class="col-lg-6 col-md-6">
					<div class="listing-item-container list-layout">
						<a href="book-detail.html" class="listing-item">							
							<!-- Image -->
							<div class="listing-item-image" style="flex: 3;">
								<img src="images/books/1.png" alt="">
							</div>
							
							<!-- Content -->
							<div class="listing-item-content">							
									<div class="listing-item-inner" style="padding-right: 8px;">
									<h3 style="font-size: 17px;line-height: 20px;color:#333;">Hritik Singh reviewed - The Trology by Akem.</h3>
									
									<div class="star-rating" data-rating="4.5">
										<div style="color:#333;" class="rating-counter">(12 reviews)</div>
									</div>
									<p><blockquote style="font-size: 15px;line-height: 17px;color:#333;">This was a great read I could ever explain. The author simply opens the viel to higher wisdom.</blockquote></p>
											
								</div>
							</div>
						</a>
					</div>
				</div>
				<!-- Activity Item / End -->
				
<!-- Activity Item -->
				<div class="col-lg-6 col-md-6">
					<div class="listing-item-container list-layout">
						<a href="book-detail.html" class="listing-item">							
							<!-- Image -->
							<div class="listing-item-image" style="flex: 3;">
								<img src="images/books/3.png" alt="">
							</div>
							
							<!-- Content -->
							<div class="listing-item-content">							
									<div class="listing-item-inner" style="padding-right: 8px;">
									<h3 style="font-size: 17px;line-height: 20px;color:#333;">Vikram Thakur reviewed - Close to Om.</h3>
									
									<div class="star-rating" data-rating="5">
										<div style="color:#333;" class="rating-counter">(12 reviews)</div>
									</div>
									<p><blockquote style="font-size: 15px;line-height: 17px;color:#333;">This was a great read I could ever explain. The author simply opens the viel to higher wisdom.</blockquote></p>
											
								</div>
							</div>
						</a>
					</div>
				</div>
				<!-- Activity Item / End -->
				
				<!-- Activity Item -->
				<div class="col-lg-6 col-md-6">
					<div class="listing-item-container list-layout">
						<a href="book-detail.html" class="listing-item">							
							<!-- Image -->
							<div class="listing-item-image" style="flex: 3;">
								<img src="images/books/8.png" alt="">
							</div>
							
							<!-- Content -->
							<div class="listing-item-content">							
									<div class="listing-item-inner" style="padding-right: 8px;">
									<h3 style="font-size: 17px;line-height: 20px;color:#333;">John Doe reviewed - Lindsey Vom by Akem.</h3>
									
									<div class="star-rating" data-rating="3">
										<div style="color:#333;" class="rating-counter">(12 reviews)</div>
									</div>
									<p><blockquote style="font-size: 15px;line-height: 17px;color:#333;">Lorem ipsum was a great read I could ever explain. The author simply opens the viel to all. </blockquote></p>
											
								</div>
							</div>
						</a>
					</div>
				</div>
				<!-- Activity Item / End -->
				
				<!-- Activity Item -->
				<div class="col-lg-6 col-md-6">
					<div class="listing-item-container list-layout">
						<a href="book-detail.html" class="listing-item">							
							<!-- Image -->
							<div class="listing-item-image" style="flex: 3;">
								<img src="images/books/4.png" alt="">
							</div>
							
							<!-- Content -->
							<div class="listing-item-content">							
									<div class="listing-item-inner" style="padding-right: 8px;">
									<h3 style="font-size: 17px;line-height: 20px;color:#333;">Mahesh Bhatt reviewed - The Yogi Code.</h3>
									
									<div class="star-rating" data-rating="4.5">
										<div style="color:#333;" class="rating-counter">(12 reviews)</div>
									</div>
									<p><blockquote style="font-size: 15px;line-height: 17px;color:#333;">This was a great read I could ever explain. The author simply opens the viel to higher wisdom.</blockquote></p>
											
								</div>
							</div>
						</a>
					</div>
				</div>
				<!-- Activity Item / End -->


<div class="col-md-12 centered-content">
				<a href="timeline.html" class="button border margin-top-10">View More</a>
			</div>
			
			</div>
			
			
</div>