<div id="recovery_overlay" style="display:none;">
					<div style="margin: 30px; text-align: center;">
					<img src="{{base_url()}}/images/preloader.gif" width="60"/>
					<h4><strong>Processing...</strong></h4>
					<h5>Please wait...</h5>
					<div id="login_msg"></div>
					</div>	
					</div>
					
 <form method="POST" action="{{base_url()}}/users/reset_password" class="login" name="recoverPassForm" id="recoverPassForm">
<div class="text-center">
					<p style="color:#333;font-weight:500;">Enter your registered email and we will send you further instructions to access your account. </p>
					<p style="color:#333;font-weight:500;">Please do not forget to check your SPAM folder.</p>
				</div>
								<p class="form-row form-row-wide">
									<label for="email">Email:
										<i class="im im-icon-Male"></i>
										<input type="email" class="input-text" name="email" id="email" placeholder="Your registered email" required />
									</label>
								</p>
								

								<div class="form-row text-right">
									<button type="submit" class="button fullwidth margin-top-25"><i class="fa fa-unlock-alt"></i> Recover Password </a>
								</div>
								
							</form>